
body {
				margin:0;
				padding:0;
        font-family: 'Arial', serif;
        background-color: #ece8df;
}

.nav {
  background-color:#ff4654;
  color: #000000;
  list-style: none;
	font-weight: bold;
	text-decoration: none;
	text-align:right;
	padding-top: -50%;
}

.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px;
  font-size: 14px;
  padding-right: 10px;

}
.nav > li > a {
	text-align: right;
	text-decoration: none;
  color: #000000;
  padding-right: 10px;
}

.logo {
  color:#ff4654;
  float: left;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
}
.logo > img {
  text-decoration: none;
  color: blue;
	width: 10%;
	float: left;
	padding-top: 1px:

}
.banner {

  position: relative;
  height: 450px;
  overflow: hidden;
  background-size: cover;
}
.banner > .banner-img {
  /*width: 150px;  width of container */
  /*height: 150px;  height of container
/*  overflow: hidden;*/
/*  border: 5px solid black;*/
  /*transform:translate(-50%,-50%);*/
	position: center;
    display:block;
    height: 70%;
    width: 100%;
    padding-right: 10px;

/*  ^^ set this to the desire height in whatever unit px, etc. */
/* ^^ check the path to the image, depends how you are serving your site*/
    background-size: cover;
    background-repeat: no-repeat;


}
#footer {
	clear: left;
	width: 100%;
	background: #ccc;
	text-align: center;
	padding: 4px 0;
	background-color: #ff4654;
}

.innertube {
	margin: 15px; /* Padding for content */
	margin-top: 0;
}

#Sage {
	size: 40px;
}


div {

	display:flex;
	align-items: right;
}

.First > p {

	font-size: 35px;
	padding-left: 35px;
	padding-top: 50px;


}

.Second > p {

font-size: 35px;
padding-left: 35px;
padding-top: 50px;

}

.Third > p {

	font-size: 35px;
	padding-left: 35px;
	padding-top: 50px;

}

.Fourth > p {

	font-size: 35px;
	padding-left: 35px;
	padding-top: 50px;
}

.Fifth > p {

	font-size: 35px;
	padding-left: 35px;
	padding-top: 50px;
}

.Fifth {

	padding-bottom: 15px;
}

.Fourth {

	padding-bottom: 15px;
}

.Third {

	padding-bottom: 15px;
}

.Second {

	padding-bottom: 15px;
}

.First {

	padding-bottom: 32px;
	padding-top: 15px;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: black;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }

  .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a {

	text-decoration: none;
	text-decoration-color: black;
	outline: none;
	color: black;

}






/*
			#header {
				background: #ccc;
				height: 100px;
			}

			#header h1 {
				margin: 0;
				padding-top: 15px;
			}

			main {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 100%;
			}

			#nav {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 230px;
				margin-left: -100%;
				background: #eee;
			}



			#wrapper {
				overflow: hidden;
			}

			#content {
				margin-left: 230px; /* Same as 'nav' width */
			/*}

			.innertube {
				margin: 15px; /* Padding for content */
				/*margin-top: 0;
			}

			p {
				color: #555;
			}

			nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			nav ul a {
				color: darkgreen;
				text-decoration: none;
			}
*/
