body {
	background-color: #ece8df;
	color: white;
}
 .Sage-img #Sage  {
	display: block;
	width: 800px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

.main  {
	padding-top: 50px;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns next to each other */
.column {
  float: left;
  display: block;
  width: 33.33%;
  padding: 10px;
  height: 310px;
  background-color: black;
	border-left: 10px solid lightgrey;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column #abilities {
	display: block;
	float: left;
	background-color: black;
}
#abs {
	background-color: black;
	padding-top: 10px;
	height: 50px;
	text-align: center;
	text-decoration: underline;
}

.Ab1 {
	display: display;

}

.column #description p {
 float: left;
 background-color: black;

}

body {

	background-color: #161a25;
}

.column p {

	padding-top: 10px;
}

#format {

	padding-top: 17px;


}
